block content
  h2.
    This Page is semi dynamic and is controlled by the customer (In the demo the page is hosted on Bluemix)
body
      p 
      |Today we have special loan on sale for #{locals.store}
      p
      img.train--bundle-thumb(src='/images/fortesting/onsale-image'+locals.store+'.png')