block content
  h2.
    This Page is controlled by OPT/GU stores (sptest on Bluemix)
  body
      p 
      |Today we have the the following items on sale
      p
      |Store A
      p
      img.train--bundle-thumb(src='images/fortesting/onsale-imageA.png')
      p 
      |Store B 
      p
      img.train--bundle-thumb(src='images/fortesting/onsale-imageB.png')
      
