block content
  h2.
    This webpage is DYNAMIC and is controlled by OPT/GU 
  body
      p 
      |Today we have special item for sale in Store #{locals.store}
      p
      img.train--bundle-thumb(src='/images/fortesting/onsale-store'+locals.store+'.png')