block content
  h2.
    This webpage is controlled by OPT/GU stores
  body
      p 
      |Today we have the the following items on sale
      p
      |Store A
      p
      img.train--bundle-thumb(src='images/fortesting/onsale-storea.png')
      p 
      |Store B 
      p
      img.train--bundle-thumb(src='images/fortesting/onsale-storeb.png')
      