block content
  h3.
    Tuesday Sale #{title} for #{locals.mobileid}
  body
    - if (typeof(locals.mobileid) !== 'undefined') {
      p (שם לקוח #{locals.mobileid})
    -}
    - else {
      p muid is UNDEFINED #{mobileid}
    -}
    I read and agree to the new terms
    input(type="checkbox", name="completed", checked=(true===false ? "checked" : undefined)) 
    p
    button(onclick='something()') Submit