block content
  h3.
    Tuesday Sale #{title} for #{locals.mobileid}
  body
    - if (typeof(locals.mobileid) !== 'undefined') {
      p (שם לקוח #{locals.mobileid})
    -}
    - else {
      p muid is UNDEFINED #{mobileid}
    -}
